h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
}

body, select {
    font-size: 16pt;
    font-family: sans-serif;
}

p {
    margin: 0;
    margin-bottom: 0.5em;
}

h1 {
    z-index: -2;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 8em;
    font-weight: bold;
    color: #FFF;
    letter-spacing: -0.15em;
    width: 100%;
    line-height: 0.7em;
    text-shadow: 0.01em 0.01em 0.01em #DDD;
    overflow: hidden;
}

h2 {
	padding: 0.33em;
    font-size: 2em;
    -moz-border-radius-topleft: 0.25em;
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    color: white;
    text-shadow: 0.032em 0.032em 0.1em black;
    font-variant: small-caps;
	text-align: center;
	border-bottom: 0.25em solid red;
}

svg {
	stroke: black;
}

svg circle {
	fill-opacity: 0.0
}


svg line {
	stroke-width: 2;
	stroke-linecap: round;
}

svg text {
	font-size: 4pt;
}

#powered-by {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    font-size: smaller;
    text-align: right;
    margin: 0.25em;
    overflow: hidden;
}

#powered-by a {
    text-shadow: 0.05em 0.05em 0.1em #888;
    text-decoration: none;
    color: #DDD;
}

.message {
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
    border: 0.5em solid red;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

#loading {
	display: none;
	font-size: 2em;
	border-width: 0.25em;
	border-color: #444;
    background-color: #888;
	padding: 1em;
    width: 10em;
    height: 1em;
    margin-left: -6em;
    margin-top: -2.25em;
	opacity: 0.85;
}

#error {
    padding: 1em;
	font-size: 1.25em;
	border-width: 0.25em;
	border-color: #400;
    background-color: #800;
	padding: 1em;
    width: 30em;
    margin-left: -6em;
    margin-top: -2.25em;
    margin-left: -16em;
}

.display {
	text-align: center;
}

.display > div {
    display: inline-block;
    margin: 1em;
    margin-top: 2em;
    border: 0.5em solid red;
	text-align: left;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    vertical-align: middle;
	width: 32em;
}

#downloads .form {
	padding: 0.5em;
}

#downloads .parameters {
}

#downloads .parameters td {
    padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#downloads .parameters .label {
	padding-left: 0.5em;
	font-weight: bold;
	font-size: 125%;
	text-align: right;
    text-shadow: 0.032em 0.032em 0.1em black;
}

#downloads .parameters .value {
	width: 100%;
}

#downloads .parameters .value .links {
	margin-left: 1em;
}

#downloads .parameters .value .links a {
	padding: 0.2em;
	text-shadow: 0.032em 0.032em 0.1em black;
}

#downloads .parameters select {
	border: 0.25em solid red;
	color: white;
	margin-left: 1em;
	padding: 0.2em;
    -moz-border-radius: 0.33em;
    -webkit-border-radius: 0.33em;
}

#downloads .nexus {
    border-color: #456;
    background-color: #68A;
}

#downloads .nexus h2 {
    background-color: #8AD;
	border-bottom-color: #579;
}

#downloads .nexus .parameters .label,
#downloads .nexus .parameters .value,
#downloads .nexus .parameters a {
    color: white;
}

#downloads .nexus select {
    background-color: #EEF;
	border-color: #456;
	color: black;
}

/*
.branch.version43 {
    border-color: #456;
    background-color: #68A;
}

.branch.version43 h2 {
    background-color: #8AD;
}
*/

#downloads .platforms {
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
	padding: 0.5em;
	border-top: 0.5em solid red;
}

#downloads .nexus .platforms {
	border-top-color: #456;
	background-color: #345;
	color: white;
}

.downloadLink {
	display: list-item;
	list-style-type: square;
	margin-left: 1.5em;
    padding: 0.5em;
	padding-left: 0;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    text-shadow: 0.032em 0.032em 0.1em black;
}

.downloadLink:hover {
	color: #F55;
	text-decoration: underline;
}

.downloadLink:before {
	content: "Download ";
	color: #DDD;
}

.downloadLink:hover:before {
	color: #E44;
}

.downloadLink span.type:before {
	content: "/";
	color: #DDD;
}

.downloadLink:hover span.type:before {
	color: #E44;
}

#help {
	position: fixed;
	right: 0;
	top: 0;
	width: 16em;
	font-size: 11pt;
	color: black;
    background-color: white;
    margin: 1em;
    border: 0.5em solid #465;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

#help h2 {
	padding: 0.1em 0.5em 0.1em 0.5em;
    -moz-border-radius-bottomleft: 0.25em;
    -moz-border-radius-bottomright: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    -webkit-border-bottom-right-radius: 0.25em;
    cursor: pointer;
}

#help ul {
	padding-left: 1.5em;
}

#help li {
	margin-bottom: 0.5em;
}

#help > div.contents {
	padding: 0.5em;
	display: none;
	height: 20em;
	overflow-y: scroll;
}

#help h2 {
    background-color: #8DA;
	border-bottom-color: #597;
}