h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
}

body, select {
    font-size: 16pt;
    font-family: sans-serif;
}

p {
    margin: 0;
    margin-bottom: 0.5em;
}

h1 {
    z-index: -2;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 8em;
    font-weight: bold;
    color: #FFF;
    letter-spacing: -0.15em;
    width: 100%;
    line-height: 0.7em;
    text-shadow: 0.01em 0.01em 0.01em #DDD;
    overflow: hidden;
}

h2 {
	padding: 0.33em;
    font-size: 2em;
    -moz-border-radius-topleft: 0.25em;
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    color: white;
    text-shadow: 0.032em 0.032em 0.1em black;
    font-variant: small-caps;
	text-align: center;
	border-bottom: 0.25em solid red;
}

#race {
	stroke: black;
}

#race path {
	fill-opacity: 1.0;
	fill-rule: nonzero;
}

#race path.section_type_0 {
	fill: brown;
}

#race path.section_type_1 {
	fill: green;
}

#race path.section_type_2 {
	fill: grey;
}

#race circle {
	fill-opacity: 0.0;
}

#race line {
	stroke-width: 2;
	stroke-linecap: round;
}

#race text {
	font-size: 4pt;
}