<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Race Web Application</display-name>
	<servlet>
		<servlet-name>clocking</servlet-name>
		<servlet-class>thomasb.race.web.testpages.Clocking</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>clocking</servlet-name>
		<url-pattern>/clocking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>steps</servlet-name>
		<servlet-class>thomasb.race.web.testpages.Steps</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>steps</servlet-name>
		<url-pattern>/steps</url-pattern>
	</servlet-mapping>
</web-app>